/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  text-align: center;
}
li{
  list-style: none;
  text-align: left;
  font-size: 2rem;
  color: #fff;
  margin-top: 1rem;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.stats{
  background: #696969;
  margin: 3rem auto;
  width: 40%;
  padding: 1rem;
  border-radius: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
