/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
}

.stats{
  background: red;
  margin: 3rem auto;
  width: 40%;
  padding: 1rem;
  border-radius: 10px;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
